@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Permanent+Marker&family=Press+Start+2P&display=swap');





/* Hero Section */
.hero-section {
    background: url(../images/bluecat.webp);
    height: 70em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-weight: 700;
    font-family: "Press Start 2P", system-ui;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
    /* padding: 1em; */
}

h2 {
    font-weight: 700;
    color: #333;
}


/* this is css code to normalize your image sizes */

.carousel-inner img {
    /* the width property tells the image to fill the entire container */
    width: 100%;
    /* the aspect-ratio property crops all images to be the same size so the carousel doesn't jump around. this one is 16/9, but you can change that to any size you need (3/4, 1/1, 9/16, etc) */
    aspect-ratio: 16/9;
    /* object-fit tells the image to scale without squishing the image to fit in our set aspect ratio */
    object-fit: cover;
}

/* this is the same code without comments for a cleaner copy and paste */
.carousel-inner img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.nav-item {
    color: yellow;
    font-weight: bold;
}